.heading-recipes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 3rem;

    &__search {
        display: flex;
        gap: 66px;
        list-style: none;

        .pointer {
            display: flex;
            align-items: center;
            gap: 63px;
            cursor: pointer;
        }

        &--elem {
            font-size: 16px;
            font-weight: 500;
        }

        &--bar {
            background: #FFF;
            padding: 17px 16px;
            border-radius: 11px;
            position: relative;
        }

        &--arrow {
            width: 10px;
            height: 10px;
            border-bottom: 1px solid #000;
            border-left: 1px solid #000;
            transform: rotate(-45deg);
            position: relative;
            bottom: 3px;
        }

        .display-list {
            position: absolute;
            display: none;
            z-index: 2;
            left: 0;
            top: 45px;
            background: #FFF;
            border-bottom-left-radius: 11px;
            border-bottom-right-radius: 11px;
            width: 100%;
        }

        .open{
            display: block;
        }

        &--list {
            list-style: none;
            overflow: hidden;
            max-height: 275px;
            padding: 0 16px;

            li{
                margin-bottom: 0.7rem;
                cursor: pointer;
            }

            &:hover {
                overflow-y: scroll;
            }
        }

        form {
            position: relative;
            display: flex;
            align-items: center;
            border: 1px solid #C6C6C6;
            border-radius: 2px;
            width: auto;
            height: 36px;
            margin: 0.5rem 1rem 1.5rem;

            .text-input {
                border: none;
                outline: none;
                padding-left: 5px;
                color: #7A7A7A;
                width: 80%;
                font-size: 14px;
            }
            .btn-search{
                position: absolute;
                right: 10px;
                background: none;
                border: none;
                color: #7A7A7A;
                cursor: pointer;
            }
        }
    }

    &__title {
        font-family: 'Anton', sans-serif;
        font-size: 21px;
        font-weight: 400;
        span {
            font-family: 'Anton', sans-serif;
        }
    }
}

.gallery-recipes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;

    .recipe-card {
        width: 380px;
        height: 730px;
        background: #FFF;
        border-radius: 21px;
        position: relative;

        img {
            width: 100%;
            object-fit: cover;
            height: 253px;
            border-top-left-radius: 21px;
            border-top-right-radius: 21px;
        }

        .time {
            position: absolute;
            top: 21px;
            right: 22px;
            background-color: #FFD15B;
            padding: 5px 15px;
            border-radius: 14px;
            font-size: 12px;
            font-weight: 400;
        }
    }

    .description {
        padding: 32px 25px 0;

        h2 {
            font-family: 'Anton', sans-serif;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 30px;
        }

        h3 {
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 9%;
            text-transform: uppercase;
            color: #7A7A7A;
            margin-bottom: 15px;
        }

        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 19px;
            height: 76px;
            overflow: hidden;
            text-align: justify;
            margin-bottom: 30px;

            &:hover {
                overflow-y: scroll;
            }
        }

        .ingredients {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 25px;

            aside {
                height: 40px;

                h4 {
                    font-size: 14px;
                    font-weight: 500;
                }

                span {
                    font-size: 14px;
                    font-weight: 400;
                    color: #7A7A7A;
                }
            }
        }
    }
}

.label-search{
    display: flex;
    gap: 30px;
    .ingredient-label{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        padding: 17px 18px;
        background: #FFD15B;
        border-radius: 10px;
        margin-bottom: 2rem;
        .close-label{
            padding: 10px;
            cursor: pointer;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                background-color: black;
                width: 15px;
                height: 1px;
                transform: rotate(45deg);
                left: 3px;
            }

            &:before{
                content: '';
                position: absolute;
                background-color: black;
                width: 15px;
                height: 1px;
                transform: rotate(-45deg);
                left: 3px;
            }
        }
    }
}

.search-no-results{
    display: none;
}